@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: var(--font-inter);
  }

body{
    padding: 0px;
    background-color: #161616;
    font-family: 'Latin', sans-serif;
}
